* {
	margin: 0;
	padding: 0;
}

h1 {text-align: center;
    color: #eee;
}

h2 {font-size: 1.1rem; text-align: center;
color: navy; padding: .5rem 1rem 0;}

.grid {
    display: grid;
    height: 50vh;
    grid-template: auto  / 0.5fr auto;
  }

.left-sidebar {
    background: rgb(213, 245, 255);
    grid-column: 1 / 3;
}

.right-sidebar {
    background: rgb(255, 255, 251);
    grid-column: 3 / 4;
  }

.left-sidebar,
.right-sidebar {
    padding: 1rem;
}

header {
    background: #333;
    padding: 1rem;
}

nav {
	margin: 1 auto 2rem;
    justify-content: space-evenly;
}

.navigation {
	list-style: none;
	display: flex;
	background-color: #000000;
	align-items: center;
}

.navigation li {
	flex: 1 1 auto;
}

.navigation a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}

.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: yellow;
}

.wrap {
    flex-wrap: wrap;
}

p {
text-align: center;
font-size: smaller;
}

footer {
    background: #333;
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
    grid-column: 1 / 4;
    color: #eee;
}

