       

header {
    background: #6d41d2;
    padding-top: 1rem;
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
}

nav {
	margin: 1rem auto 2rem;
    justify-content: space-evenly;
}

.navigation {
	list-style: none;
	display: flex;
	background-color: #21075f;
	align-items: center;
}

.navigation li {
	flex: 1 1 auto;
}

.navigation a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
	font-size: 1.3rem;
}

.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: yellow;
}

main {
	display: grid;
	grid-template-columns: 1000px 200px;
	margin: 20px;
	grid-gap: 30px;
	max-width: 1900px;
}

.card-left {
	grid-column: 1 / 3;
	background-color: rgb(238, 217, 252);
}

.card-right {
	grid-column: 3 / 4;
	background-color: rgb(238, 217, 252);
}

h2 {
	background: #6d41d2;
	padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
    color: #eee;
}

h3 {
	padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
    color: #000000;
	text-decoration: underline;
}

h4 {
	padding: 0.4rem;
    text-align: center;
    font-size: 1rem;
    color: #000000;
}

.about-me {
	display: grid;
	grid-template-columns: auto 1fr;
	margin: 30px;
}

.my-country {
	display: grid;
	grid-template:
		"a a"
		"b b";
	margin: 30px;
}

.resources {
	margin: 30px;
	display: grid;
	font-size: 1.3rem;
	row-gap: 20px;
	
}

.about-me p {
	text-align: right;
	font-size: 1.3rem;
	padding-right: 20px;
	align-self: center; 
}

footer p {
	text-align: center;
	font-size: 1.3rem;
	padding-right: 20px;
	align-self: center; 
}

.my-country p {
	text-align: left;
	font-size: 1.3rem;
	padding-left: 20px;
	align-self: center; 
		
}

footer {
    background: #6d41d2;
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
    color: #eee;
}
