* {
	margin: 0;
	padding: 0;
	font-family: "Sofia", sans-serif;
}

header {
    background: #6d41d2;
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;
	color: #ffffff;
}

/* headings */
h1 {
	text-align: left;
	font-family: times, serif;
	font-size: 1.5rem;
	margin-left: 1rem;
}

h2 {
	font-size: 1.2rem;
	color: navy;
}

/* main */
main {
	margin: 2rem;
	max-width: 1900px;
}


/* navigator */
nav {
	display: flex;
	flex-direction: column;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline double;
}

.active {
	color: yellow;
}


/* footer */
footer p {
	text-align: center;
	font-size: 1.3rem;
	padding-right: 20px;
	align-self: center; 
}

footer {
    background: #6d41d2;
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
    color: #eee;
}

/* container from javascript */

.image-container {
	border: 1px solid #000;
	border-radius: 8px;
    padding: 16px;
	margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
	width: 300px;
  	display: inline-block; 
  	vertical-align: top;
	
}

.image-container p {
    margin: 6px 0;
    font-size: 14px;
}

.image-container img {
	width: 300px;
	height: 200px;
	border-radius: 8px 8px 0 0;
  }

.templeCards {
	align-items: center;

}



/* Mobile Media Query */

@media only screen and (max-width: 768px) {

    #menu {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        padding: 0.5rem 0.75rem;
        background-color: #eee;
        color: #000;
        border: none;
        cursor: pointer; 
    }

    #menu::before {
        content: "≡";
    }

    #menu.open::before {
        content: "X";
    }

    .navigation {
        display: none; 
        flex-direction: column;
        list-style: none;
        background-color: #333;
        color: #fff;
        padding: 0;
        margin: 0;
    }

    .navigation.open {
        display: flex; 
    }

    .navigation a {
        display: block;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }

    .navigation a:hover {
        background-color: #bbb;
        color: #333;
        font-weight: 700;
    }
}


